.wrapper {
    height: 100vh;
    min-width: 210px;
    background-color: #333333;
    color: #9A9A9A;
    padding: 15px;
}
.wrapper h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}
.wrapper p {
}

.icon {
    margin-right: 17px;
}
.icon1 {
    margin-right: 10px;
}


.link {
    display: flex;
    margin-bottom: 1rem;
    cursor: pointer;

}

.labelMobile {
    display: none;
}
.text {
    font-size: 13px;
}
.link:hover .icon   {
    color: #6b737c;
}
.link:hover .text   {
    color: #6b737c;
}
@media only screen and (max-width: 575px) {
    .text {
        display: none;
    }
    .labelMobile {
        display: block;
    }
    .labelDesktop {
        display: none;

    }
    .wrapper {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .labelMobile {
        margin-bottom: 30px !important;
    }
    .icon {
        margin: 15px 0;
    }
    .icon1 {
        margin: 0;
    }
}