.wrapper {
    padding: 100px 0;
    margin: 0 auto;
    display: flex;
}

.tabs {
    background-color: #FCF8F2;
    padding:20px;

}

.tabContainer {
    margin-top: 40px;
}

.tab {
   font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    padding: 10px 5px;
    cursor: pointer;
}

.tab:hover {
    background-color: orange;
    color: white;
}

.formWrapper {
    margin: 0 100px;
}

.formLabel {
    color: #FF5900;
    font-size: 29px;
}

.legalName {
    font-size: 14px;
}

.formWrapper  p {
    padding-top: 20px;
    font-size: 20px;
}

.form {
    margin: 30px 0;

}

.input {
    margin-right:15px;
    padding: 5px 7px;
    border: 1px solid black;
}

.errorInput {
    border: 2px solid red;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row {
    display: flex;
    margin-bottom: 50px;
}
.error {
    color: red;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #9A9A9A;
    padding: 2rem 0;
}

.buttonContainer button:nth-child(1) {
    background-color: transparent;
    color: #9A9A9A;
    width: 9rem;
    margin-right: 2rem;
    cursor: pointer;

}


.buttonContainer button:nth-child(2){
    font-size: 25px;
    color: #fff !important;
    border: 0.2rem solid #E6590D !important;
    text-transform: uppercase;
    background: #E6590D !important;
    display: inline-block;
    cursor: pointer;

}
@media only screen and (max-width: 750px)  {
    .wrapper {
        min-width: 320px;
padding: 0 !important;
    }
    .row {
        flex-direction: column;
    }
    .tabContainer {
        margin: 0;
    }
    .formWrapper {
        padding: 0 !important;
    }
    .buttonContainer button:nth-child(2){
        font-size: 15px;


    }
}

@media (max-width: 1100px) {
    .formWrapper {
        margin: 0 50px;
    }

}

@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
        padding: 20px 0;
    }

}

@media (max-width: 370px) {
    .wrapper {
        width: 320px;
    }
}