.wrapper {
    width: 100%;
    padding:20px 30px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}
.icon {
    font-size: 30px;
    margin-right: 35px;
}
.titleLeft {
   display: flex;
}
.applicants {
    color: #9B9BA7;
    font-size: 15px;
}
.titleLeft h3 {
    color: #154F85;
}
.searchbarContainer {
    background-color: #f2f2f2;
    padding: 20px;

}
.searchbar {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 38px;
    width: 15rem;
    padding-left: 15px;
}

.tableHeader th {
    padding: 1.2rem 2.2rem;
    font-size: 1.4rem;
    line-height: 1.21;
    font-weight: 500;
    background: #f3f3f3;
}
.tableHeader {
    border-bottom: 2px solid black;
}

.table {
    margin-top: 40px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.2rem;
    overflow-x: scroll ;
}

.tableWrapper {
    overflow-x: scroll;
}