.wrapper {
    width: 100%;
    padding:20px 30px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;

}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
}
.icon {
    font-size: 30px;
    margin-right: 35px;
}
.titleLeft {
   display: flex;
}
.applicants {
    color: #9B9BA7;
    font-size: 15px;
    font-weight: 600;
}
.titleLeft h3 {
    color: #154F85;
    font-weight: 500;
    font-size: 1.8rem;
}
.searchbarContainer {
    background-color: #f2f2f2;
    padding: 20px;

}
.searchbar {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 38px;
    width: 15rem;
    padding-left: 15px;
}

.tableHeader th {
    color: #717181;
    padding: 1rem 2.2rem;
    font-size: .9rem;
    line-height: 1.21;
    font-weight: 500;
    background: #F9F9FB;
    border-bottom: 1px solid black;
}


.table {
    margin-top: 40px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.2rem;

}
.table td {
    color: #717181;
    font-size: .8rem;
font-weight: 400;
}
.tableWrapper {
    overflow-x: auto;
}

.overflow {
    overflow-x: auto;
}