.wrapper {
    display: flex;
    padding: 20px 40px;
}


.tabs {
    background: #FCF8F2;
    padding: 5px  0;
    margin-bottom: 10px;
}

.tabs div {
    text-align: left;
    padding: 10px 10px 5px 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

.tabs div:hover {
    background: #FFDECC;
    color: #FF5900;
}

.phoneBar {
    text-align: center;
    background: #FCF8F2;
    padding:15px
}

.phoneBar span {
    font-weight: 500;
    font-size: 19px;
    display: block;
    color: #FF5900;
    margin-bottom: 5px;
}

.dealersContainer {
    margin-left: 30px;
    width: 60%;
}

.dealerHeader {
    display: flex;
    flex-direction: column;
}

.dealerHeader h1 {
    color: #FF5900;
    font-size: 25px;
    margin-bottom: 30px;

}

.dealerHeader p {
    font-size: 20px;
    color: #333333;
    font-weight: 700;
}

.greyBar {
    width: 215px;
    margin-top: 25px;
    background: #F8F8F8;
    display: inline-block;
    padding: 20px 60px 20px 20px;
    font-size: 15px;
}

.dealerContent {
    margin-top: 20px;
}

.dealerContentHeader {
    border-bottom: 1px solid black;
    color: #83786D;
    padding-left: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 25px;
}

.dealerCardsBody {
    margin: 25px 0;
}

@media (max-width: 830px) {
    .wrapper {
        flex-direction: column;
        padding: 20px 20px;
    }
    .dealersContainer {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 400px) {
    .wrapper {
        padding: 20px 10px;
    }

    .wrapper img {
        width: 150px;
    }
}