.wrapper {
    background-image: url("../../assets/images/background.jpg");
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 50px 0;
}
.formContainer {
    display: flex;
    justify-content: center;

}
.left {
    background-color: #F9F7F4;
    height: 35rem;
    width: 30rem;
    padding: 30px 50px;
}
.left h3 {
    text-align: left;
}
.left p {
    text-align: left;
    margin-bottom: 1rem;
    color: #83786D;
}

.right {
    background-color: #3a3535;
    height: 35rem;
    width: 30rem;
   display: flex;
    align-items: center;
    justify-content: center;

}
.form {
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form label {
    text-align: left;

}
.form input {
    height: 2.5rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
}
.form button{
    margin: 0 auto;
    width: 15rem;
margin-top: auto;
border: none;
    height: 2.5rem;
    color: white;
    background-color: #154F85;
}
.error {
    color: red;
}
.errorInput {
    border: 2px solid red;
}
.errorCred {
    color: red;
    font-size: 22px;
    padding: 10px ;
}
@media only screen and (max-width: 750px)  {
    .wrapper {
        padding: 100px 0;
    }
   .formContainer {
    align-items: center;
       flex-direction: column-reverse;
   }
    .left {
        width: 90%;
        height: 25rem;

    }
    .right {
        width: 90%;
        height: 20rem;

    }
}
