.wrapper {
    flex:1;
    height: 100vh;
    overflow-y: scroll;
}

.content {
    padding: 30px 20px;
}
.content > span {
    font-weight: 500;
    color: #9B9BA7;
    font-size: 16px;
}

.contentHeader {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    align-items: center;
}
.contentHeader span {
    font-weight: 500;
    color: #9B9BA7;
    font-size: 16px;
    margin-left: auto;
}
.contentHeader h2 {
    color: rgb(21, 79, 133);
    font-size: 2rem;
}

.icon {
    padding-right: 20px;
}

.plusIcon {
    color: white;
    padding-right: 15px;
}

.addButton {
    cursor: pointer;
    padding: 11px;
    margin-left: 20px;
    color: #fff;
    background-color: #446EE2;
    border-color: #446EE2;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.tableWrapper {
    overflow-x: scroll;
}

.tableHeader th {
    color: #717181;
    padding: 1rem 2.2rem;
    font-size: .9rem;
    line-height: 1.21;
    font-weight: 500;
    background: #F9F9FB;
    border-bottom: 1px solid black;
}

.table thead {
     border-bottom: 1.5px solid  black;
}

.table tbody {
    margin-top: 20px;
}

.table tr {
    border-bottom: 1px solid black;
}

.table td {
    border: 0;
    vertical-align: middle;
    padding: 20px 0px 20px 30px;
    font-size: .8rem;
    line-height: 1.15;
    background: #FAFAFF;
    color: #717181;
}

.table {
    margin-top: 40px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.2rem;

}