.cardWrapper {
    width: 30%;
    margin: 20px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.cardWrapper:hover {
    background-color: rgba(208, 208, 208, 0.34);
}


@media (max-width: 915px) {
    .cardWrapper {
        width: 100%;
    }
}