.wrapper {
    padding: 20px 25px;
    margin-bottom: 40px;
    border: 0.15rem solid #E9E9E9;
    border-radius: 10px;
width: auto;
    overflow-x: auto;
}
.notifications {
    overflow-y: scroll;
    height: 400px;
    width: auto;
}
.innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.label {
    font-size: 24px;
    padding-left: 5px;
}

.icon {
    font-size: 22px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.calendarText {
    color: #9696A2;
    margin-top: 10px;
}

.calendarTextLabel {
    padding-left: 5px;
}
.description {
    margin-top: 10px;
}

.button {
    color: #fff;
    background-color: #446EE2;
    border-color: #446EE2;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #203f98;

}

.table {
    margin-top: 20px;
    width: 100%;    border-collapse: separate;
    border-spacing: 0 0.2rem;

}

.table thead tr th {
    border-top: 0.1rem solid #EBEAED;
    width: 30%;
    padding: 10px 24px;
    font-size: 12px;
    line-height: 1.21;
    font-weight: 500;
    background: #F9F9FB;
}

.table tbody tr td {
    border: 0;
    vertical-align: middle;
    padding: 10px 27px 10px;
    font-size: 16px;
    line-height: 1.15;
    background: #FAFAFF;
}

.rowButton {
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    .notifications {

        width: 100%;
    }
    .wrapper {
        width: 100%;
    }
}