.wrapper {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}

.content {
    padding: 5px 20px;
}
.title {
    display: flex;
    font-size: 27px;
    color: #154f85;
    width: 100%;
}
.title span {
    padding: 0 15px
}

.title span:nth-of-type(1) {
    border-right: 1px solid black;
    padding-right: 15px;
}

.orange {
    color: #FAAD00;
}

.rowTitle {
    margin-top: 40px;
}

.loaderWrapper {
    margin: 50px auto;
    width: 100px;
}

.green {
    color: #50D00D
}

.red {
    color:red;
}

.dashboardBar {
    display: flex;
    align-items: center;
    background: #F2F2F2;
    padding: 20px 15px;
    margin: 25px 0;
}

.backButton {
    cursor: pointer;
    background: #fff;
    border-color: #ccc;
    color: #333333;
    text-align: left;
    padding: 10px 15px;
    border-width: 1px;
}

.select {
    padding: 11.6px 10px;
    border: 1px solid black;
    width: 100%;
}

.button {
    padding: 15px 20px;
    border-radius: 8px;
    margin: 5px 10px;
    color: white;
    cursor: pointer;

}

.generatePdf {
    background-color: #4c9de2;
    border-color: #4c9de2;

    color: white;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
}

.save {
    background: #154F85;
    border-color: #154F85;
}

.decline {
    background: red;
    border-color: red;
}

.incomplete {
    background: #FF7600;
    border-color: #FF7600;
}

.approved {
    background-color: #50D00D;
    border-color: #50D00D;
}

.formWrapper {
    padding: 10px 50px;
}

.formWrapper h1 {
    font-size: 24px;
}

.formRow {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.input {
    border: 1px solid  black;
    padding: 10px 15px;
    width: 100%;
}

.errorInput {
    border: 1px solid  red;
    padding: 10px 15px;
    width: 100%;
}


.error {
    color: red
}

.inputBox {
    flex: 1;
    margin-left: 10px;
}


.form {
    display: flex;
    flex-direction: column;
    max-width: 620px;

}

.required {
    color: red;
    font-size: 14px;
}


@media (max-width: 670px) {
    .formWrapper {
        padding: 10px 15px;
    }

    .formRow {
        flex-direction: column;
    }
}
