
.tableRow td {
    padding: 15px 0px 15px 35px;

    background: #F9F9FB;


}
.tableRow {
    margin-bottom: 70px;
}

.green {
    color:#4cd504 !important;
}

.orange {
    color: #ff9200 !important;
}

.red {
    color: red !important;
}
.blue {
    color: blue !important;
}
.rowButton {
    cursor: pointer;
}
